@using Suendenbock_App.Models.Domain
@model Infanterie
@{
    ViewData["Title"] = "Infanterie erstellen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link href="/css/character.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&family=Uncial+Antiqua&display=swap" rel="stylesheet">
}

<div class="steckbrief-container">
    <div class="steckbrief-title">Infanterie</div>
    <form asp-controller="Infanterie" asp-action="CreateEdit">
        <div class="mb-3">
            <label for="infanteriename" class="form-label">Infanteriename</label>
            <input type="text" class="form-control" id="infanteriename" name="infanteriename">
        </div>
        <div class="row mb-3">
            <div class="col-lg-7">
                <label for="beschreibung" class="form-label">Beschreibung</label>
                <textarea class="form-control" id="beschreibung" name="beschreibung" rows="3"></textarea>
            </div>
            <div class="col-lg-5">
                <!--spezielles Zeichen der Infanterie wird über Bild hochladen und speichern das Imagepath angezeigt-->
                <label for="infanterielogo" class="form-label">Infanteriezeichen</label>
                <input type="text" class="form-control" id="infanterielogo" name="infanterielogo">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-6">
                <!--combobox mit den charakternamen aus der charaktertabelle EIntragung dann auch zum jeweiligen Charakter-->
                <label for="kompaniechef" class="form-label">Kompaniechef</label>
                <select class="form-select" id="kompaniechef" name="kompaniechef">
                    <option value="" disabled selected>Kompaniechef auswählen...</option>
                    @if (ViewBag.Characters != null)
                    {
                        foreach (var charakter in ViewBag.Characters)
                        {
                            <option value="@charakter.Id">@charakter.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="col-lg-6">
                <!--combobox mit den charakternamen aus der charaktertabelle EIntragung dann auch zum jeweiligen Charakter-->
                <label for="kompaniefuehrer" class="form-label">Kompaniefuehrer</label>
                <select class="form-select" id="kompaniefuehrer" name="kompaniefuehrer">
                    <option value="" disabled selected>Kompaniefuehrer auswählen...</option>
                    @if (ViewBag.Characters != null)
                    {
                        foreach (var charakter in ViewBag.Characters)
                        {
                            <option value="@charakter.Id">@charakter.Name</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Infanteriefarbe</label>
            <div class="row">
                <div class="col-12 mb-2 d-flex">
                    <div class="btn-group w-100 d-flex" role="group">
                        @if (ViewBag.LightCards != null)
                        {
                            // Erste Reihe
                            @foreach (var lightCard in ViewBag.LightCards)
                            {
                                <input type="radio"
                                       class="btn-check"
                                       name="lightCardId"
                                       id="lightcard-@lightCard.Id"
                                       value="@lightCard.Id"
                                       autocomplete="off">
                                <label class="btn flex-fill"
                                       for="lightcard-@lightCard.Id"
                                       style="background-color: @lightCard.Farbcode; border-color: @lightCard.Farbcode; width: 30px; height: 30px; margin: 3px; border-radius: 5px; border: 2px solid darkgrey;"
                                       data-bs-toggle="tooltip"
                                       data-bs-placement="top"
                                       title="@(lightCard.Bezeichnung)">
                                </label>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn-wachs">Gebilligt</button>
        </div>
    </form>
</div>
@section Scripts {
    <script>
        // Tooltips aktivieren
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
}