@using Suendenbock_App.Models.ViewModels
@model AdminViewModel
<h1>Admin-Dashboard</h1>
<div class="row">
    <div class="col-4">
        <div class="card m-1 p-2">
            <a asp-controller="Character" asp-action="Form" class="btn btn-outline-success">neuer Charakter</a>
            <table>
                <thead>
                    <tr>
                        <th>Vorname</th>
                        <th>Nachname</th>
                        <th>Magie</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var character in Model.Characters)
                        {
                            <tr>
                                <td>@character.Vorname</td>
                                <td>@character.Nachname</td>
                                <td>
                                    @if (character.CharacterMagicClasses.Any())
                                    {
                                        <span>
                                            @string.Join(", ", character.CharacterMagicClasses.Select(cmc => cmc.MagicClass.Bezeichnung))
                                        </span>
                                    } else
                                    {
                                        <span>keine Magie</span>
                                    }
                                </td>
                                <td>
                                    <a asp-controller="Character" asp-action="Form" asp-route-id="@character.Id" class=""><img width="30" height="30" src="/images/icons/edit.png"/></a>
                                    <button class="btn" onclick="deleteContent(@character.Id, 'Character')"><img width="30" height="30" src="/images/icons/trash.png" /></button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-4">
        <div class="card m-1 p-2">
            <a asp-controller="MagicClass" asp-action="Form" class="btn btn-outline-success">neue Magieklasse</a>
            <table>
                <thead>
                    <tr>
                        <th>Bezeichnung</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var magicClass in Model.MagicClasses)
                        {
                            <tr>
                                <td>
                                    <div>@magicClass.Bezeichnung</div>
								    @if (magicClass.Specializations.Any())
								    {
									    <small class="text-muted">
										    Spezialisierungen: @string.Join(", ", magicClass.Specializations.Select(s => s.Name))
									    </small>
								    }
                                </td>
                                <td>
                                    <a asp-controller="MagicClass" asp-action="Form" asp-route-id="@magicClass.Id" class=""><img width="30" height="30" src="/images/icons/edit.png" /></a>
                                    <button class="btn" onclick="deleteContent(@magicClass.Id, 'MagicClass')"><img width="30" height="30" src="/images/icons/trash.png" /></button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-4">
        <div class="card m-1 p-2">
            <a asp-controller="Guild" asp-action="Form" class="btn btn-outline-success">neue Gilde</a>
            <table>
                <thead>
                    <tr>
                        <th>Bezeichnung</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
					@{
						foreach (var guild in Model.Guilds)
						{
							<tr>
								<td>@guild.Name</td>
								<td>
                                    <a asp-controller="Guild" asp-action="Form" asp-route-id="@guild.Id" class=""><img width="30" height="30" src="/images/icons/edit.png" /></a>
                                    <button class="btn" onclick="deleteContent(@guild.Id, 'Guild')"><img width="30" height="30" src="/images/icons/trash.png" /></button>
								</td>
							</tr>
						}
					}
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function deleteContent(Id,controllerName) {
            Swal.fire({
                title: "Wollen Sie wirklich den Eintrag löschen?",
                icon: "warning",
                confirmButtonText: `Ja, löschen!`,
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: "POST",
                        url: "/" + controllerName + "/Delete",
                        data: { id: Id },
                        success: function (msg) {
                            Swal.fire("Eintrag gelöscht", "", "success").then((result) => {
                                location.reload();
                            });
                        },
                        error: function (msg) {
                            Swal.fire("Ups, irgendetwas ist schiefgelaufen!", "", "error");
                        }
                    });
                }
            });
        }
    </script>
    }


