@using Suendenbock_App.Models.Domain
@model List<Character>
@section Styles {
    <link href="/css/antique-home.css" rel="stylesheet" />
    <link href="/css/character.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&family=Uncial+Antiqua&family=Cinzel:wght@400;600&display=swap" rel="stylesheet">
}

<section class="main-container">
    <!-- Hero Pergament Karten mit echten Daten -->
    <section class="character-scrolls">
        @foreach (var character in Model)
        {
            
                <div class="character-scroll" data-tilt>
                    <a class="card-link" asp-controller="Character" asp-action="CharacterSheet" asp-route-id="@character.Id">
                    <div class="scroll-header">
                    @if(character.ImagePath == null)
                    {
                        <!-- Zeigt die Initialen des Benutzers -->
                       <div class="character-seal">@character.Vorname.FirstOrDefault()@character.Nachname.FirstOrDefault()</div>
                    }
                    else
                    {
                        <img class="card-title" src="@character.ImagePath" />
                    }
                    </div>
                    <div class="scroll-body">
                        <h4>@character.Vorname @character.Nachname</h4>
                    </div>
                </a>
                </div>
        }
        </section>
</section>

